@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


.footer {
	background-color: #ede8f5;
	padding: 70px 0;
	/* margin-top: 1rem; */
}

.footerCol {
	width: 25%;
	padding: 0 15px;
}

.footerCol h4 {
	font-size: 18px;
	color: #3d52a0;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footerCol h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #3d52a0;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footerCol ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footerCol ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #3d52a0;
	text-decoration: none;
	font-weight: 300;
	color: #5d5c5c;
	display: block;
	transition: all 0.3s ease;
}

.footerCol ul li a:hover {
	color: #000000;
	padding-left: 8px;
}

.footerCol .socialLinks a {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #3d52a0;
	transition: all 0.5s ease;
}

.footerCol .socialLinks a:hover {
	color: #ede8f5;
	background-color: #3d52a0;
}

/*responsive*/
@media(max-width: 767px) {
	.footerCol {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footerCol {
		width: 100%;
	}
}