/* theme.css */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #ffffff;
  --card-text-color: #0078d7;
  --button-background-color: #4285f4;
  --button-text-color: #ffffff;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background-color: #1f1f1f;
  --card-text-color: #e0e0e0;
  --button-background-color: #bb86fc;
  --button-text-color: #121212;
}